<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" color="light" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-title ion-text-center">Servicios</ion-title>
    <ion-buttons slot="end">
      <ion-avatar class="custom-avatar">
        <ion-img src="/assets/img/user.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="prob">¿Qué problema tienes?</h3>

  <ion-list *ngIf="services.length > 0; else noServices">
    <ion-item-sliding *ngFor="let service of services">
      <ion-item class="option-item">
        <ion-thumbnail slot="start">
          <ion-img [src]="service.image"></ion-img>
        </ion-thumbnail>
        <ion-label>{{ service.name }}</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ng-template #noServices>
    <p>No se encontraron servicios para esta subcategoría.</p>
  </ng-template>

  <app-otro-problem></app-otro-problem>
</ion-content>
