<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Usuarios</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar class="custom-avatar">
        <ion-img src="/assets/img/user.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="blob-container">
    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
      <path id="blob-path" fill="#E8DAFF" d="M46.5,-63.5C61.5,-53.1,75.7,-41.2,78.6,-26.8C81.5,-12.5,73,4.2,67.2,21.7C61.3,39.2,58.1,57.4,47.3,67.7C36.6,78.1,18.3,80.6,3,76.6C-12.4,72.5,-24.7,61.8,-39.4,52.7C-54.1,43.6,-71.2,36.1,-78.6,23.2C-86.1,10.2,-84,-8.2,-77.5,-24.3C-71.1,-40.5,-60.4,-54.4,-46.7,-65.2C-33.1,-76,-16.5,-83.7,-0.4,-83.1C15.8,-82.6,31.5,-73.8,46.5,-63.5Z" transform="translate(100 100)" />
    </svg>
    <ion-img class="admin" src="/assets/img/administrador.png"></ion-img>
  </div>
    <h2 ion-text="center" class="tit">ADMINISTRADORES</h2>
    <h3 class="bienv">¡¡Bienvenida {{users()?.name}}!!</h3>
    <div class="cont">
    <p class="descr"> En este apartado tú  como adminisrador puedes solicitar información de los usuarios que forman parte de este
      equipo (clientes, agentes y administradores), así como hacer cambios, eliminaciones y agregar nuevos usuarios. </p>
    </div>
    </ion-content>

