<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Administradores</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar class="custom-avatar">
        <ion-img src="/assets/img/user.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <span class="h2">Listado de Administradores</span>
        <h5 class="mt-15 nu" *ngIf="usuarios.length === 0">No hay datos para mostrar</h5>
        <div class="row">
          <div *ngFor="let usuario of usuarios" class="col-lg-3 col-md-6 col-sm-6 mx-auto mt-5 text-center scale-down-center">
            <div class="card" style="width: 18rem;">
              <ion-avatar>
                <img *ngIf="usuario.image" [src]="usuario.image"/>
                <ion-icon *ngIf="!usuario.image" class="empty-icon" name="person-circle-outline"></ion-icon>
              </ion-avatar>

                <h3 class="card-title"><b>{{usuario.name}}</b></h3>
              <ul class="list-group list-group-flush contCard">
                <li class="list-group-item" style="max-width: 100%"><b>Teléfono:</b> {{usuario.tel}}</li>
                <li class="list-group-item" style="max-width: 100%"><b>Empresa:</b> {{usuario.empresa}}</li>
                <li class="list-group-item" style="max-width: 100%"><b>Correo:</b> {{usuario.email}}</li>
                <li class="list-group-item" style="max-width: 100%"><b>Rol:</b> {{usuario.role}}</li>
              </ul>
              <br>
              <div class="row justify-content-center text-center">
                <div class="col-lg-12 col-md-8 col-sm-12">
                  <button class="custom-button delete-button" (click)="confirmEliminarUsuario(usuario.id)">
                    Eliminar
                    <ion-icon name="trash-outline"></ion-icon>
                  </button>
                  <button class="custom-button edit-button" [routerLink]="['/editar-user', usuario.id]">
                    Editar
                    <ion-icon name="create-outline"></ion-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
