<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-user">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tickets-user">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Tickets</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="perfil-user">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="signOut()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
