

.custom-title {
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
}




ion-content {
  --background: #ffff;
  --keyboard-offset: 0px;
  --offset-bottom: 0px;
  --offset-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 20px; /* Margen izquierdo */
  --padding-end: 20px; /* Margen derecho */
  --padding-top: 10px;
}
.custom-toolbar {
  --background: linear-gradient(to right, #007bff, #25cad2);
  --color: white;
  --ion-color-primary-contrast: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-toolbar ion-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
}

.custom-avatar {
  border: 2px solid white;
  padding: 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.custom-avatar ion-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

ion-title {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #060707;
}

.descripcion {
  border: 3px solid #385cc7;
  padding: 5px;
  border-radius: 12px;
}

.bienvenidaH3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #9d9ca5;
}

.descH2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #05a8b7;
}

.descP {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.solicitud {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #463a9a;
}

.categoria {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  color: #25cad2;
  font-size: 26px;
}

.avatar {
  margin-bottom: 12px;
}

// .img-av {
//   width: 90%;
//   height: 90%;
// }
ion-image{
  width: 50%;
  height: 50%;
}

.categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.list-header
.list-header {
  font-weight: 700;
  color: #515151;
  margin-bottom: 12px;
  margin-top: 12px;
}

.food-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  ion-content {
    --background: #ffff;
    --keyboard-offset: 0px;
    --offset-bottom: 0px;
    --offset-top: 0px;
    --padding-bottom: 0px;
    --padding-start: 100px; /* Margen izquierdo */
    --padding-end: 100px; /* Margen derecho */
    --padding-top: 20px;
  }
  .servImg{
    margin-left: 50px;
    width: 30%;
  }
}

@media screen and (min-width: 60px) {
  .list-header {
    font-weight: 700;
    color: #515151;
    margin-bottom: 12px;
    margin-top: 12px;
    font-size: 18px;
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-card {
  background-color: #c6d0fd;
  width: 40%;
  height:40%;

  padding: 1rem;
  border-radius: 20%;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-img {
  width: 100%;
  height: 100%;
  opacity: 0.8;

}

p.ion-no-margin {
  color: #615858;
  margin: 0;
  font-weight: 500;

}

.wrapper.active .image-card {
  background-color: #4364c7;
}

.wrapper.active p {
  color: #1d1d1d;
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .image-card {
    background-color: #c6d0fd;
    width: 30%;
    height:30%;

    padding: 1rem;
    border-radius: 20%;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-card {
    background-color: #c6d0fd;
    width: 70px;
    height:70px;

    padding: 1rem;
    border-radius: 20%;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ion-img {
    width: 100%;
    height: 100%;
    opacity: 0.8;

  }

  p.ion-no-margin {
    color: #615858;
    margin: 0;
    font-weight: 500;
    font-size: 13px;

}
}
.i-edit{
  margin-top: 5px;
  font-weight: 600;
  color: rgb(46, 134, 243);
  cursor: pointer;
  font-size: 15px;

}
.i-elimi{
  margin-top: 5px;
  font-weight: 600;
  color: rgb(188, 26, 14);
  cursor: pointer;
  font-size: 15px;

}
.i-add{
  margin-top: 5px;
  font-weight: 600;
  color: rgb(4, 4, 246);
  cursor: pointer;
  font-size: 15px;
}

.categorias-header {
  display: flex;
  align-items: center;
}

.categorias-header h1 {
  margin: 0;
  font-weight: 700;
  color: #515151;
}

.categorias-header ion-fab-button {
  margin-left: 10px;
  --background: #007bff;
}
//subcateorias
.food-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px; /* Espacio entre las tarjetas */
  margin-top: 0;
  margin-bottom: 10px;
}

.card {
  width: 50%; /* Ajusta el ancho para que quepan dos tarjetas por fila */
  max-width: 280px; /* Reduce el ancho máximo */
  height: auto;
  background: linear-gradient(135deg, #98ffff 0%, #f3f3f3 100%);
  padding: 1rem; /* Reduce el padding para tarjetas más pequeñas */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 1rem; /* Reduce el border-radius */
  margin-bottom: 1rem; /* Reduce el margen inferior */
}

.card-content {
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 8px; /* Reduce el margen inferior */
  color: #1d1d1d;
}

@media screen and (min-width: 992px) {
  .cards {
    justify-content: center; /* Centra los cards horizontalmente */
    gap: 1rem; /* Espacio entre los cards en pantallas grandes */
  }
  .card {
    width: calc(50% - 1rem); /* Ajustar el ancho para mantener el espacio entre tarjetas */
    max-width: 280px; /* Reduce el ancho máximo */
    height: auto;
    margin: 0.5rem; /* Reduce el espacio alrededor de cada card */
  }
}

@media (max-width: 600px) {
  .card {
    max-width: 140px; /* Reduce el ancho máximo */
    width: 50%; /* Ocupa todo el ancho en pantallas pequeñas */
  }
}

