
<ion-content class="contLogin">
  <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">


  <ion-img src="assets/img/dex-tree.png"  class="responsive-img"></ion-img>
  <h2 class="welcome tracking-in-contract">Bienvenido!!</h2>
    <br>
  <ion-input class="input"
  formControlName="email"
  name="email"
  type="email"
  fill="transaprent"
  label="Correo"
  labelPlacement="floating"
  helperText="Enter a valid email"
  errorText="Invalid email"
  email></ion-input>
<br>



  <ion-input  class="input"
  formControlName="password"
  [type]="type"
  name="password"
  type="password"
  fill="transaprent"
  id="custom-input"
  label="Password"
  labelPlacement="floating"
  helperText="Ingresa tu contraseña"
  [counter]="true">
  <ion-button (click)="showOrHidePassword()" slot="end" fill="clear" shape="round">
    <ion-icon slot="icon-only" [name]="hide ? 'eye-outline':'eye-off-outline'"></ion-icon>
  </ion-button>
</ion-input>
<br>

<p class="ion-text-end p" routerLink="forgot-password">¿Olvidaste tu contraseña?</p>



<ion-button type="submit" class="custom-button" [disabled]="form.invalid">Iniciar sesión</ion-button>

</form>
    <ion-item-divider style="--background:transparent"></ion-item-divider>


    <ion-label class="link">Aún no tienes una cuenta? <br>
      <a routerLink="/register" routerLinkActive="router-link-active"  class="link">Crea una cuenta</a></ion-label>



    </ion-content>





