
<ion-content class="contLogin">
  <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">


  <ion-img src="assets/img/dex-tree.png"  class="responsive-img"></ion-img>
  <h2 class="welcome tracking-in-contract">Bienvenido!!</h2>
    <br>
  <ion-input class="input"
  formControlName="email"
  name="email"
  type="email"
  fill="transaprent"
  label="Correo"
  labelPlacement="floating"
  helperText="Enter a valid email"
  errorText="Invalid email"
  email></ion-input>
<br>

<div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
 <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
 <div *ngIf="form.controls.email.errors?.['email']">El correco no es valido</div>
</div>

  <ion-input  class="input"
  formControlName="password"
  [type]="type"
  name="password"
  type="password"
  fill="transaprent"
  id="custom-input"
  label="Password"
  labelPlacement="floating"
  helperText="Ingresa tu contraseña"
  [counter]="true">
  <ion-button (click)="showOrHidePassword()" slot="end" fill="clear" shape="round">
    <ion-icon slot="icon-only" [name]="hide ? 'eye-outline':'eye-off-outline'"></ion-icon>
  </ion-button>
</ion-input>
<br>

<p class="ion-text-end p" routerLink="forgot-password">¿Olvidaste tu contraseña?</p>

<div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
  <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>
 </div>

<ion-button type="submit" class="custom-button" [disabled]="form.invalid">Iniciar sesión</ion-button>

</form>
    <ion-item-divider style="--background:transparent"></ion-item-divider>


    <ion-label class="link">Aún no tienes una cuenta? <br>
      <a routerLink="/register" routerLinkActive="router-link-active"  class="link">Crea una cuenta</a></ion-label>

<!--
      <div class="custom-shape-divider-bottom-1717007206">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
      </div> -->

    </ion-content>





