<div class="report-problem">
  <h2 class="text-start">Explícanos más sobre el problema</h2>
  <textarea placeholder="Describa el problema aquí..." [(ngModel)]="problemDescription"></textarea>

  <label for="image-upload" class="image-upload-label">Cargar imagen</label>
  <input type="file" id="image-upload" (change)="onFileSelected($event)" accept="image/*">

  <div *ngIf="imagePreview" class="image-preview-container">
    <img [src]="imagePreview" alt="Vista previa de la imagen" class="image-preview">
  </div>
</div>
<br>

<br>
