.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-card {
  background-color: #c6d0fd;
  width: 70%;
  height:70%;

  padding: 1rem;
  border-radius: 20%;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-img {
  width: 100%;
  height: 100%;
  opacity: 0.8;

}

p.ion-no-margin {
  color: #615858;
  margin: 0;
  font-weight: 500;

}

.wrapper.active .image-card {
  background-color: #4364c7;
}

.wrapper.active p {
  color: #1d1d1d;
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .image-card {
    background-color: #c6d0fd;
    width: 30%;
    height:30%;

    padding: 1rem;
    border-radius: 20%;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
