<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button
       defaultHref="/"
       text=""
       class="custom-back-button"
       mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar class="custom-avatar">
        <ion-img src="/assets/img/user.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
<br>
<form [formGroup]="form" (ngSubmit)="comfirmSubmit()" (keypress.enter)="comfirmSubmit()">
   <ion-avatar>
    <img *ngIf="user()?.image" [src]="user()?.image"/>
    <ion-icon *ngIf="!user()?.image" class="empty-icon" name="person-circle-outline"></ion-icon>
  </ion-avatar>
  <ion-button class="photo-btn" (click)="takeImage()"  mode="ios" size="small" shape="round">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>
  <h2 class="welcome tracking-in-contract"> {{user()?.name}} </h2>
  <br>

  <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
    <small *ngIf="form.controls.name.errors?.['required']">El nombre es requerido</small>
    <small *ngIf="form.controls.name.errors?.['minlength']">El nombre debe tener al menos 3 caracteres</small>
   </div>

  <div class="input-wrapper">
    <input  type="text" name="name" placeholder="Nombre"  required formControlName="name" >
    <ion-icon class="input-icon" name="person-circle-outline"></ion-icon>
  </div>



  <div class="input-wrapper">
    <input type="text" name="empresa" placeholder="Nombre de la empresa"   formControlName="empresa">
    <ion-icon class="input-icon" name="briefcase-outline"></ion-icon>
  </div>


  <div class="input-wrapper">
    <input type="email" name="email" placeholder="Correo" required formControlName="email" >
    <ion-icon class="input-icon" name="at-outline"></ion-icon>
  </div>



  <div *ngIf="form.get('tel')?.invalid && form.get('tel')?.touched">
    <small *ngIf="form.get('tel')?.errors?.['required']">El teléfono es obligatorio.</small>
    <small *ngIf="form.get('tel')?.errors?.['pattern']">El teléfono debe tener  10 dígitos.</small>
  </div>

  <div class="input-wrapper">
    <input  type="text" name="telefono" placeholder="Teléfono(10 dígitos)"  required formControlName="tel">
    <ion-icon class="input-icon" name="call-outline"></ion-icon>
  </div>



  <div *ngIf="form.get('role')?.invalid && form.get('role')?.touched">
    <small *ngIf="form.get('role')?.errors?.['required']">El rol del usario es obligatorio.</small>
  </div>
  <div class="input-wrapper">
    <input  type="text" name="role" placeholder="Rol de usuario(client/admin/agent)"  required formControlName="role">
    <ion-icon class="input-icon" name="person-outline"></ion-icon>
  </div>




    <input class="btn" type="submit" name="register" value="Editar">


</form>
</ion-content>
