<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button
       defaultHref="/"
       text=""
       class="custom-back-button"
       mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar class="custom-avatar">
        <ion-img src="/assets/img/user.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-editar-usarios></app-editar-usarios>
</ion-content>
