<ion-header>
  <ion-toolbar>
    <app-header></app-header>

  </ion-toolbar>
</ion-header>


<ion-content class="contLogin">
  <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">


  <ion-img src="assets/img/dex-tree.png"  class="responsive-img"></ion-img>
  <h2 class="welcome tracking-in-contract">Recupera tu cuenta</h2>
 <p class="descripciom ion-text-center">Te enviaremos un email para que puedas restablecer tu contraseña</p>
    <br>
  <ion-input class="input"
  formControlName="email"
  name="email"
  type="email"
  fill="transaprent"
  label="Correo"
  labelPlacement="floating"
  helperText="Enter a valid email"
  errorText="Invalid email"
  email></ion-input>
<br>




<ion-button type="submit" class="custom-button" [disabled]="form.invalid">Recuperar</ion-button>

</form>



<!--
      <div class="custom-shape-divider-bottom-1717007206">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
      </div> -->

    </ion-content>





