<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Registro Agentes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar class="custom-avatar">
        <ion-img src="/assets/img/user.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="contentR ion-padding">
  <br>
  <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">
    <ion-avatar>
      <img *ngIf="imageDataUrl" [src]="imageDataUrl"/>
      <ion-icon *ngIf="!imageDataUrl" class="empty-icon" name="person-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-button class="photo-btn" (click)="takeImage()" mode="ios" size="small" shape="round">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-button>
    <h2 class="welcome tracking-in-contract">Registro</h2>

<br>

    <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
      <small *ngIf="form.controls.name.errors?.['required']">El nombre es requerido</small>
      <small *ngIf="form.controls.name.errors?.['minlength']">El nombre debe tener al menos 3 caracteres</small>
     </div>

    <div class="input-wrapper">
      <input  type="text" name="name" placeholder="Nombre"  required formControlName="name" >
      <ion-icon class="input-icon" name="person-circle-outline"></ion-icon>
    </div>



    <div class="input-wrapper">
      <input type="text" name="empresa" placeholder="Nombre de la empresa"   formControlName="empresa">
      <ion-icon class="input-icon" name="briefcase-outline"></ion-icon>
    </div>



    <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
      <small class="emerg" *ngIf="form.controls.email.errors?.['required']">El correo es requerido</small>
      <small  class="emerg"  *ngIf="form.controls.email.errors?.['email']">El correco no es valido</small>
     </div>

    <div class="input-wrapper">
      <input  class="emerg" type="email" name="email" placeholder="Correo"  required formControlName="email">
      <ion-icon class="input-icon" name="at-outline"></ion-icon>
    </div>


    <div *ngIf="form.get('tel')?.invalid && form.get('tel')?.touched">
      <small  class="emerg" *ngIf="form.get('tel')?.errors?.['required']">El teléfono es obligatorio.</small>
      <small *ngIf="form.get('tel')?.errors?.['pattern']">El teléfono debe tener  10 dígitos.</small>
    </div>

    <div class="input-wrapper">
      <input  type="text" name="telefono" placeholder="Teléfono(10 dígitos)"  required formControlName="tel">
      <ion-icon class="input-icon" name="call-outline"></ion-icon>
    </div>

    <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
      <small *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</small>
     </div>

    <div class="input-wrapper">
      <input type="password" name="password" placeholder="Contraseña (mínimo 6 caracteres)" required  formControlName="password">
      <ion-icon class="input-icon" name="lock-closed-outline"></ion-icon>
    </div>


    <input class="btn" type="submit" name="register" value="Registrar">
  </form>
</ion-content>
